.logo {
    width: 100%;
    max-width: 300px;
    height: auto;
    padding: 10px;
}
@media (min-width: 768px) {
    .logo {
        max-width: 250px;
    }
}
@media (min-width: 1200px) {
    .logo {
        max-width: 200px;
    }
}